<!DOCTYPE html>
<html>
  <head>
    <title>ArgyleHomes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <link href="path/to/lightbox.scss" rel="stylesheet">
  </head>

  <body>
    
    <%= yield %>


    <script src="path/to/lightbox.js"></script>

  </body>
</html>
